<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Fakarni App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>voiceghost</string>
				<string>com.fakarni.app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAlarmKitUsageDescription</key>
	<string>يحتاج التطبيق لاستخدام نظام المنبه لضمان تنبيهك في الوقت المحدد.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>يسمح Fakarni بإضافة تذكيراتك إلى التقويم عند اختيارك لذلك.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>يسمح Fakarni بإضافة تذكيراتك إلى التقويم عند اختيارك لذلك.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>يسمح Fakarni بحفظ تذكيراتك في التقويم دون الوصول الكامل إلى أحداثك.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your Face ID biometric data.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>اسمح لـ Fakarni باستخدام الميكروفون.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يسمح Fakarni بالوصول إلى مكتبة الصور إذا احتجت لإرفاق صورة.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>يسمح Fakarni بالوصول إلى التذكيرات إذا احتاجت مكتبة التقويم ذلك داخل النظام.</string>
	<key>NSRemindersUsageDescription</key>
	<string>يسمح Fakarni بالوصول إلى التذكيرات إذا احتاجت مكتبة التقويم ذلك داخل النظام.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>اسمح لـ Fakarni بالتعرف على الكلام.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
